

<div class="Container" id="google"  >
    <mat-card class="card">
  
    <div class="container" >
      <div>
       <h1 style="font-weight: bold;text-align: center;"><span style="color:blue">F</span><span style="color:red">u</span><span style="color:orange">n</span><span style="color:blue;">d</span><span style="color :green;">o</span><span style="color:red">o</span></h1>
       <h2 style="text-align:center">Hi USER</h2>   
       <div style="text-align:center;">Reset Password</div><br>
      
  
       <form [formGroup]="ResetPassword" (ngSubmit)="onSubmit()" >
       
            <div>Create new password</div>
            <mat-form-field appearance="outline" class="username">
              <mat-label>Password</mat-label>
              <input matInput formControlName="Password" autocomplete="off" placeholder="Enter Password">
              <mat-error>Enter Password</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="username">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="Confirm" autocomplete="off" placeholder="Enter Confirm Password">
                <mat-error>Enter Confirm Password</mat-error>
              </mat-form-field>

            <br>
            <input type="checkbox">Show Password
            <br><br><br>
                
        
            
            <div style="text-align:center"><button mat-raised-button color="primary">Save Password</button></div>
              <br>
         
            </form>
        </div>
    </div>
    
  
  
  </mat-card>
    </div>

