.iconbody{
    padding-left: 10px;
}
.example-icon2{
    margin-top:70px;
}
.icon{
    cursor:pointer;
    height:10px;
    width:12px;
    box-shadow:1px 1px 1px 1px grey;
    border-radius:20px;
    position:relative;
}