.sit{
  box-shadow:1px 1px 1px 0.1px grey;
}
.navbarr{
  background-color: white;
position:fixed;
z-index:2;
width:200%;
display: flex;
flex-direction: row;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .searchbody{
    background-color:#F1F3F4;
    border-radius: 10px;
    width:90%;
    padding:4px;
    position: relative;
    left:3%;
}


.inputtxt{
    background-color:#F1F3F4;
    width:80%;
    height: 30px;
    font-size: medium;
    outline: none;
    border:none;
}
.searchbody:active{
    background-color: white;
}
.inputtxt:active{
    background-color: white;

}

.searchbody:hover{
    background-color: white;
    border-width: thin;
    border:1px solid #e3dede;
    
}
.inputtxt:hover{
    background-color: white;
}

.search:hover{
    border:0px solid grey;
}

  .fun{
      font-size: 21px;
      position: relative;
      font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
      color:#272525;
      bottom:14px;
   
  }


  .icon{
    color:#888888;
    padding-right: 20px; 
    position: relative;
    width:21px;
    left:90%;
    margin-right: 20px;
    padding:5px;
    bottom:9px;
  }

  .keep{
      height: 40px;
      width: 40px;
      position: relative;
      right:10px;
      top:10px;
  }
  .lastitems{
    color:#888888;
    padding-right: 20px; 
    position: relative;
    width:21px;
    margin-right: 20px;
    padding:5px;
    bottom:4px;
    display: flex;
    flex-direction: row;
    left:134px;
}
.account{
  color:#888888;
  position: relative;
  width:21px;
  margin-right: 20px;
  padding:5px;
  bottom:4px;
  display: flex;
  flex-direction: row;
  left:260px;
}
  //sidenabar

  //costom style for sidebar
 


.menu-items{
  list-style: none;
  line-height: 40px;
  padding-left: 0px;
  
}
.menu-items ul{
  display: flex;
  justify-content: center;

}
.sideb{
  position: fixed;
  top:10%;
}

.menu-items li{
  font-size: 16px;
  font-weight: 400;
  padding-left: 25px;
  padding-top: 8px;
  border-radius: 10px 40px 40px 10px;

  cursor: pointer;
}

.menu-items li:hover{
  background-color: #f1ebeb;
}

.onActive{
  background-color: #FEEFE2;
}

.sideicon{
  margin-right: 23px;
  padding-top: 2px;
}
.selcetIcon{
  padding-top: 0;
}


//note Style

.add-note-section {
  margin-left: 25%;
  width: 50%;
}

.mat-input {
  width: 100%;
}

.notes-section{
  width: 50%;
  margin-left: 25%;
}

mat-card {
  display: inline-flex;
  margin-right: 15px;
  margin-bottom: 20px;
}

//Add Note
.notebody{
    width:200px;
    border-radius: 10px;
    box-shadow:1px 1px 5px 1px grey;
    position: relative;
    left:390px;
    width:45%;
    top:100px;
    background-color: white;
    height: 35%;
}
.notebody:actice{
  height:90px;
  top:100px;
  left:390px;
}
// .notebody1{
//   width:200px;
//   border-radius: 10px;
//   box-shadow:1px 1px  1px grey;
//   position: relative;
//   left:390px;
//   width:15%;
//   top:100px;
//   background-color: white;
//   height: 55px;
// }

.book{
  background-color:white;
  width:50%;
  height: 65%;
  padding:15px;
  font-size: medium;
  outline: none;
  border:0px;
  font-weight: bold;
  margin-top: 2px;
  margin-left: 10px;
}
.book:hover{
  background-color: white;
  border: none;
  outline:none;
}
.book2{
  background-color: white;
  width:70%;
  height:30px;
  outline:none;
  border:none;
  margin-top: 7px;
  margin-left:20px;
  font-size: medium;
  font-weight: bold;
}
