<div class="Container" id="google"  >
  <mat-card class="card">

  <div class="container" >
    <div>
     <h1 style="font-weight: bold;text-align: center;"><span style="color:blue">F</span><span style="color:red">u</span><span style="color:orange">n</span><span style="color:blue;">d</span><span style="color :green;">o</span><span style="color:red">o</span></h1>
     <h2 style="text-align:center">Sign in</h2>   
     <h3 style="text-align:center">Use Your Fundoo Account</h3>

     <form [formGroup]="login" (ngSubmit)="onSubmit()" >
     
  
          <mat-form-field appearance="outline" class="username">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" autocomplete="off" placeholder="Enter Email" >
            <mat-error>Enter Email</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="username">
            <mat-label>Password</mat-label>
            <input matInput formControlName="Password" autocomplete="off" placeholder="Enter Password"  matInput [type]="showPassword ? 'text' : 'password'"  name="password" >
            <mat-icon matSuffix (click)="togglePasswordVisibility()">
              {{showPassword?'visibility_off':'visibility'}}
          </mat-icon>
            <mat-error>Enter Password</mat-error>
          </mat-form-field><br>
          <a style="color:#3F51B5;font-weight: bold;font-size: 12px;float: left;margin-left: 10px;" routerLink="/forgatepassword">Forgate Password?</a>
        
 
          <br><br><br><br>
        <div >Not Your computer? Use Guest mode to sign in privately.</div>
          <div style="color:#3F51B5;font-weight: bold;">Learn more</div>
          <br>
          <br>
          
          <table>
            <tr>
              <td> <a style="color:#3F51B5;font-weight: bold;font-size: 16px;float: left;" routerLink="">Create Account</a></td>
              <td style="margin-left: 200px;float: right;"><button mat-raised-button color="primary">Next</button></td>
            </tr>
          </table>
      
       
          </form>
      </div>
  </div>
</mat-card>
  </div>